<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Socket IO server</title>
    </head>
    <body>
        <h1 id='welcomemsg'></h1>
        <button id="thanksmsg">Say thanks!</button>
        <button id="sayhi">Say hi to all!</button>
        <p id='hitoallmsg'></p>
        <script src='/socket.io/socket.io.js'> </script>
        <script src='/js/index.js'> </script>
    </body>
</html>
