.room {
    width: 50%;
    min-height: 50px;
    border: 3px solid orange;
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
}
.buttons {
    width: 50%;
    margin: auto;
}
.buttons button {
    min-height: 50px;
    border: 3px solid orange;
}
